{% with firstname="Yobias" %}
<h1>hello {{firstname}},how old are you?</h1>

<ul>
    {% for x in mymembers %}
    <li>{{x.firstname}}</li>
    {% endfor %}
</ul>

{% if greeting %}
  <h1>Hello</h1>
{% endif %} 
{% if greeting == 2 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting != 1 %}
  <h1>Hello</h1>
{% endif %} 
{% if greeting < 3 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting <= 3 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting > 1 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting >= 1 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting == 1 and day == "Friday" %}
  <h1>Hello Weekend!</h1>
{% endif %} 

{% if greeting == 1 or greeting == 5 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting == 1 and day == "Friday" or greeting == 5 %}

{% if (greeting == 1 and day == "Friday") or greeting == 5 %}

{% if 'Banana' in fruits %}
  <h1>Hello</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %} 

{% if 'Banana' not in fruits %}
  <h1>Hello</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %